<h1>{{ video.title }}</h1>
<p>{{ video.description }}</p>
<p>Thumbnail : {{ video.thumbnail }}</p>
<img src="{{ video.thumbnail }}" />
<p>Pub date: {{ video.pubdate }} </p>
<p>Crawled on: {{ video.created_on }} </p>