<form action="/ytube/search" method="get">
        <input name="searched" type="text" placeholder="Search...">
        <button type="submit" >Search</button>
</form>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% if page_obj %}
    <ul>
    {% for video in page_obj %}
        <li>
            <img src="{{video.thumbnail}}" />
            </br>
            <a href="/ytube/watch/{{ video.id }}/">{{ video.title }}</a>
            <p>Published on: {{ video.pubdate }}</p>
            <p>Crawled on: {{ video.created_on }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Videos are available.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>