<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Crawled Video</title>
</head>
<body>
    <h1>Search Crawled Video</h1>
    <form action="{% url 'search_results' %}" method="get">
        <input name="searched" type="text" placeholder="Search...">
        <button name="search" type="submit">Search</button>
    </form>
    {% if searched %}
    <h1> You Searched for {{ searched }}</h1>
    {% else %}
    <h1> You Search term is missing </h1>
    {% endif %}
    {% if page_obj %}
    <h2>Search Results:</h2>
    <ul>
    {% for video in page_obj %}
        <li>
            <img src="{{video.thumbnail}}" />
            </br>
            <a href="/ytube/watch/{{ video.id }}/">{{ video.title }}</a>
            <p>Published on: {{ video.pubdate }}</p>
            <p>Crawled on: {{ video.created_on }}</p>
        </li>
    {% endfor %}
    </ul>
    {% else %}
        <p>No Videos are available.</p>
    {% endif %}
</body>
</html>